<html>

<head>
  <meta charset="utf-8" />
  <title>R | P | S</title>
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
  <h1>Rock, Paper, Scissors</h1>
  <h3>
    Here are the rules:
    <ul>
    <li>
      Both players throw up one hand each to represent one of the following: a rock, paper, some scissors.
    </li>
    <li>
      The winner is determined based on the following criteria
    </li>
    <ul>
      <li>
        Rock defeats Scissors
      </li>
      <li>
        Paper defeats Rock
      </li>
      <li>
        Scissors defeats Paper
      </li>
    </ul>
    <li>
    In the event that player selection is equal, the game is considered a draw.
  </li>
  </ul>
  <h1>GAME RESULT:</h1>
  </h3>
  <div id="game_results"><%= yield %>
    <button id="pa" onclick="javascript:openSite()">Play again?</button>
</div>

<script>
var links = [
              "localhost:4567/rock/paper",
              "localhost:4567/rock/scissors",
              "localhost:4567/paper/rock",
              "localhost:4567/scissors/rock",
              "localhost:4567/scissors/paper",
              "localhost:4567/paper/scissors",
]

           var openSite = function() {
              // get a random number between 0 and the number of links
              var randIdx = Math.random() * links.length;
              // round it, so it can be used as array index
              randIdx = parseInt(randIdx, 10);
              // construct the link to be opened
              var link = 'http://' + links[randIdx];

     var win = window.open(link, '_self');
     win.focus();

    };
</script>


</body>

</html>
